<div>
    <form class="form-group" [formGroup]="createForm" (ngSubmit)="onSubmit()">

            <label for="fullNameIn" class="form-label">Full name</label><br/>
            <input name="fullNameIn" type="text" required class="form-control" formControlName="firstName" minlength="4"
                placeholder="(minimum 4 characters)" maxlength="32" id="fullNameIn" 
                aria-describedby="fullNameHelp"  autocomplete="off">
            <div id="fullNameHelp" class="form-text" *ngIf="firstName?.invalid && firstName?.dirty">
                <p class="text-danger" *ngIf="firstName?.errors?.['required']">
                    Full Name is required.
                </p>
                <p class="text-danger" *ngIf="firstName?.errors?.['minlength']">
                    Full Name is too short.
                </p><br/>
                <p class="text-danger" *ngIf="firstName?.errors?.['maxlength']">
                    Full Name is too long.
                </p><br/>
            </div>
       
            <label for="addIn" class="form-label">Address</label>
            <input name="addIn" type="text" required class="form-control" formControlName="address" minlength="6"
                placeholder="(minimum 6 characters)" maxlength="64" id="addIn"
                aria-describedby="addHelp"  autocomplete="off">
            <div id="addHelp" class="form-text" *ngIf="address?.invalid && address?.dirty">
                <p class="text-danger" *ngIf="address?.errors?.['required']">
                    Address is required.
                </p>
                <p class="text-danger" *ngIf="address?.errors?.['minlength']">
                    Address is too short.
                </p>
                <p class="text-danger" *ngIf="address?.errors?.['maxlength']">
                    Address is too long.
                </p>
            </div>

            <label for="creditIn" class="form-label">Credit Card</label>
            <input name="creditIn" type="text" required class="form-control"formControlName="creditCard" minlength="16" pattern="[0-9]*"
                placeholder="(16-digit-number)" maxlength="16" id="creditIn" 
                aria-describedby="creditHelp"  autocomplete="off">
            <div id="creditHelp" class="form-text">
                <div *ngIf="creditCard?.invalid && creditCard?.dirty">
                    <p class="text-danger" *ngIf="creditCard?.errors?.['required']">
                        Credit Card is required.
                    </p>
                    <p class="text-danger"
                        *ngIf="creditCard?.errors?.['minlength'] or creditIn.errors?.['maxlength']">
                        Credit Card must contain 16-digit-number.
                    </p>
                    <p class="text-danger" *ngIf="creditCard?.errors?.['pattern']">
                        Credit Card is invalid, must only contain numbers.
                    </p>
                </div>
                We'll never share your email with anyone else.
            </div><br/>

        <button type="submit" class="btn btn-success" [disabled]="createForm.invalid">Submit</button>

    </form>
</div>
